.git
.gitignore
README.md
README.Docker.md
.env
.env.example
.env.local
.env.staging
.env.production
docker-compose.yml
Dockerfile
.dockerignore
node_modules
npm-debug.log
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
vendor
.phpunit.result.cache
tests
.editorconfig
.gitattributes
phpunit.xml 